.loading-background {
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : absolute;
    top             : 3em;
    width           : 100%;
    height          : calc(100vh - 3em);;
    backdrop-filter : blur(10px);
    z-index         : 1100;
}
.loading {
    width  : 200px;
    height : auto;
}